# Commands: https://packaging.python.org/en/latest/guides/using-manifest-in/#manifest-in-commands

include LICENSE
include README.md

# https://github.com/bqplot/bqplot/blob/master/MANIFEST.in
# https://github.com/jupyter-widgets/widget-ts-cookiecutter/commit/e93224b86b89e98f647f8840c4c1c1b4bca4b681
# https://github.com/jupyter-widgets/widget-ts-cookiecutter/issues/112
# https://github.com/travigd/ipydraw/blob/main/.github/workflows/publish.yml
include setup.py
include pyproject.toml

include tsconfig.json
include package.json
include webpack.config.js
include .yarnrc

graft src
graft css
# https://github.com/jupyterlab/extension-cookiecutter-ts/blob/3.0/%7B%7Bcookiecutter.python_name%7D%7D/MANIFEST.in
graft ipycolorful/nbextension
graft ipycolorful/labextension

# __pycache__
global-exclude *.pyc
