include LICENSE
include README.md

# include setup.py
# https://github.com/jupyter-widgets/widget-ts-cookiecutter/commit/e93224b86b89e98f647f8840c4c1c1b4bca4b681
include pyproject.toml

include tsconfig.json
include package.json
include webpack.config.js
include .yarnrc

graft src
graft css
